.phrase {
    position: fixed;
    top: 70%;
    width: $widthInPercent100;
    height: calc($heigthInPercent100 / 2);
    background-color: $phraseColorBg;
    border-radius: 20%;
    font-size: $phraseFontSize;
    display: flex;
    justify-content: center;
}

.phrase__text {
    position: absolute;
    text: {
        align: center;
    }
    color: $phraseColorText;
}

.phrase__img {
    position: relative;
    left: 35%;
    width: 15%;
    height: 80%;
    border-radius: 10%;
}

.phrase:hover {
    transition: 2s;
    font-size: 250px;
    top: 65%;
}