@mixin animationClouds {
    animation-name: moveClouds;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin animationSun {
    animation-name: moveSun;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}

.scenary {
    width: $widthInPercent100;
    height: $heigthInPercent100 - 30%;
    background: #80cef5;
    position: fixed;
    overflow: hidden;
}

.scenary__cloud {
    width: $scenaryCloudwidth;
    height: $scenaryCloudheight;
    background: #BFF;
    background: linear-gradient(top, #BFF 5%, #DFF 100%);
    background: -webkit-linear-gradient(top, #FFF 1%, #BFF 100%);
    background: -moz-linear-gradient(top, #BFF 5%, #DFF 100%);
    background: -ms-linear-gradient(top, #BFF 5%, #DFF 100%);
    background: -o-linear-gradient(top, #BFF 5%, #DFF 100%);
    border-radius: 100px;
    position: absolute;
    margin: 120px auto 20px;
    transition: 2s;
}

.scenary__cloud--cloud1 {
    @include animationClouds;
    top: 20%;
    left: 0%;
}

.scenary__cloud--cloud2 {
    @include animationClouds;
    top: 50%;
    left: 80%;
}

.scenary__cloud--cloud3 {
    @include animationClouds;
    top: 50%;
    left: 40%;
}

.scenary__cloud--cloud4 {
    @include animationClouds;
    top: 50%;
    left: 20%;
}

.scenary__cloud::after {
    width: $scenaryCloudwidthAndHeigthAfter;
    height: $scenaryCloudwidthAndHeigthAfter;
    top: -50px;
    left: 50px;
    border-radius: 100px;
}

.scenary__cloud::before {
    width: $scenaryCloudwidthAndHeigthBefore;
    height: $scenaryCloudwidthAndHeigthBefore;
    top: -90px;
    right: 50px;
    border-radius: 200px;
}

.scenary__cloud::after,
.scenary__cloud::before {
    content: '';
    position: absolute;
    background: #FFF;
    z-index: -1
}

.scenary__cloud:hover {
    padding-left: 50px;
}

.scenary__sun {
    top: 20%;
    position: relative;
    background: yellow;
    width: $scenarySunwidth;
    height: $scenarySunheight;
    clip-path: circle(25%);
    transition-duration: 2s;
    @include animationSun;
}

.scenary__sun:hover {
    clip-path: circle(30%);
}