$bodyColorbg: #bbebfb;

/*sizes*/

$widthInPercent100: 100%;
$heigthInPercent100:100%;

/* gondola variables */

$gondolaWidth:300px;
$gondolaHeight:250px;
$gondolaBorderRadius:35%;
$gondolaColor:orange;
$gondolaBorder: 10px solid black;
$gondolaWindowColor:rgb(36, 134, 180);
$gondolaDoorwidth:20%;