@import "variables";
@import "keyframes";
@import "scenary";
@import "gondola";
@import "phrase";
html {
    height: 100%;
}

body {
    width: $widthInPercent100;
    height: $heigthInPercent100;
    background: {
        color: $bodyColorbg;
    }
    display: flex;
    justify-content: center;
}

.mechanism {
    position: absolute;
    width: $widthInPercent100;
    height: 10%;
    border-radius: 40px;
    background: rgb(122, 115, 115);
}