@import "variables";
@import "keyframes";
@import "scenary";
@import "gondola";
@import "phrase";
body {
    width: 100%;
    height: 100%;
    background: {
        color: $bodyColorbg;
    }
}

.mechanism {
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 40px;
    background: rgb(122, 115, 115);
}